*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.1;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* END - Reset CSS */

/*Animations*/

@keyframes slideFromRight {
  from {
    transform: translateX(255px);
  }

  to {
    transform: translateX(0px);
  }
}

@keyframes slideToRight {
  from {
    transform: translateX(0px);
  }

  to {
    transform: translateX(255px);
  }
}

/*END Animations*/

@font-face {
  font-family: "Inter";
  font-weight: 400;
  src: url(assets/fonts/static/Inter-Regular.ttf) format(tff);
}
@font-face {
  font-family: "Inter";
  font-weight: 700;
  src: url(assets/fonts/static/Inter-Bold.ttf) format(tff);
}
@font-face {
  font-family: "Inter";
  font-weight: 800;
  src: url(assets/fonts/static/Inter-ExtraBold.ttf) format(tff);
}

:root {
  --color-primary-soft-orange: hsl(35, 77%, 62%);
  --color-primary-soft-red: hsl(5, 85%, 63%);

  --color-neutral-off-white: hsl(36, 100%, 99%);
  --color-neutral-grayish-blue: hsl(233, 8%, 79%);
  --color-neutral-dark-grayish-blue: hsl(236, 13%, 42%);
  --color-neutral-very-dark-blue: hsl(240, 100%, 5%);
  --color-neutral-dark-blue: hsl(240, 100%, 11%);

  --font-family: "Inter", sans-serif;

  --font-weigth-regular: 400;
  --font-weigth-bold: 700;
  --font-weigth-extra-bold: 800;

  --font-size-extra-small: 0.725rem;
  --font-size-small: 0.8rem;
  --font-size-medium: 1rem;
  --font-size-large: 1.5rem;
  --font-size-extra-large: 2.025rem;
}

/* Start General Layout */
body {
  display: grid;
  font-family: var(--font-family);
  font-weight: var(--font-weigth-regular);
  font-size: 15px;
}

.container {
  display: grid;
  grid-template-rows: repeat(4, auto);
  margin: 0 auto;
  padding: 20px 15px;
  max-width: 375px;
  max-height: 1872px;
  gap: 1rem;
}

header {
  grid-row-start: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}

main {
  grid-row-start: 2;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.text-and-button {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.news-content {
  grid-row-start: 3;
}

.related-articles {
  grid-row-start: 4;
}
/* End General Layout */

/* Style */
a {
  text-decoration: none;
}

/* Start Header */
.dim-layer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 20, 0.35);
  visibility: hidden;
}

header p {
  font-size: var(--font-size-extra-large);
  font-weight: var(--font-weigth-extra-bold);
}

.menu-button {
  background-image: url(assets/images/icon-menu.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;

  border: none;

  z-index: 1;
  position: absolute;
  right: 15px;

  width: 40px;
  height: 17px;
}

.menu-button:hover,
.menu-button:focus {
  cursor: pointer;
}

.menu-list {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 255px;

  height: 667px;
  background-color: var(--color-neutral-off-white);

  align-self: start;
  padding-left: 20px;
  padding-top: 120px;

  visibility: hidden;
  overflow-x: hidden;
}

.menu-list li {
  margin-bottom: 1.5rem;
  list-style-type: none;
}

.menu-list a {
  font-size: var(--font-size-medium);
  color: var(--color-neutral-very-dark-blue);
}

.menu-list a:hover {
  color: var(--color-primary-soft-red);
}

/* End Header */

/* Start Main */
.main-image {
  width: 100%;
  height: auto;
  display: block;
}

h1 {
  font-size: var(--font-size-extra-large);
  font-weight: var(--font-weigth-extra-bold);
}

main p {
  line-height: 1.6;
}

main button {
  background-color: var(--color-primary-soft-red);
  color: var(--color-neutral-off-white);
  height: 2.25rem;
  width: 190px;
  font-size: 0.7125rem;
  font-weight: var(--font-weigth-bold);
  text-transform: uppercase;
  letter-spacing: 4px;
  border: none;
}

main button:hover,
.main-button:focus {
  background-color: var(--color-neutral-very-dark-blue);
  cursor: pointer;
}
/* End Main */

/* Start News-Content */
.news-content {
  background-color: var(--color-neutral-very-dark-blue);
  padding: 1rem;
  margin: 2rem 0;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.news-content h2 {
  color: var(--color-primary-soft-orange);
  font-size: var(--font-size-large);
}

.news-content a {
  color: var(--color-neutral-off-white);
}

.news-content a:hover,
.news-content a:focus {
  color: var(--color-primary-soft-orange);
  cursor: pointer;
}

.new-item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: var(--font-size-small);
}

.new-item p {
  padding-right: 0.5rem;
  font-size: var(--font-size-extra-small);
  line-height: 2;
  color: var(--color-neutral-grayish-blue);
}

hr {
  border-color: var(--color-neutral-dark-grayish-blue);
}
/* End News-Content */

/* Start Related-Articles */
.related-articles {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 4rem;
}
article {
  display: flex;
  gap: 1.5rem;
}

article img {
  width: 30%;
}

.related-article-content {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.related-article-content h2 {
  font-size: var(--font-size-large);
  color: var(--color-neutral-grayish-blue);
}

.related-article-content a {
  color: var(--color-neutral-very-dark-blue);
  font-weight: var(--font-weigth-extra-bold);
}

.related-article-content a:hover,
.related-article-content a:focus {
  color: var(--color-primary-soft-red);
  cursor: pointer;
}

.related-article-content p {
  margin-top: -5px;
  line-height: 1.75;
  color: var(--color-neutral-dark-grayish-blue);
}
/* End Related-Articles */

/* Media query*/
@media screen and (min-width: 376px) {
  .container {
    display: grid;
    grid-template-columns: 0.25fr 2fr 1fr 0.25fr;
    grid-template-rows: 100px auto auto auto;
    margin: 0 auto;

    max-width: 1440px;
    max-height: 1024px;
    justify-items: start;
    gap: 1.5rem;
  }

  header {
    position: relative;
    grid-row-start: 1;
    grid-column-start: 2;
    grid-column-end: 4;

    width: 100%;

    align-items: center;
    justify-content: space-between;
  }
  header p {
    grid-column-start: 1;
  }

  .menu-button {
    visibility: hidden;
  }

  .menu-list {
    position: absolute;
    right: 0;
    top: 39px;
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    align-self: center;

    visibility: visible;
    overflow-y: hidden;
  }

  .menu-list li {
    margin: 0 0 0 2.3rem;
  }

  .menu-list a {
    font-size: var(--font-size-small);
  }

  main {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }

  .main-image {
    grid-row-start: 1;
    background-repeat: no-repeat;
  }

  .main-card {
    margin-top: 0.5rem;
    grid-row-start: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .main-card h1 {
    font-size: var(--font-size-extra-large);
    font-weight: 1000;
    padding-right: 80px;
  }

  .text-and-button {
    grid-column-start: 2;

    display: flex;
  }

  .text-and-button p {
    color: var(--color-neutral-dark-grayish-blue);
    padding-right: 15px;
    line-height: 1.6;
  }

  .main-button {
    grid-row-start: 2;
  }

  .news-content {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;

    display: flex;
    margin: 0;
    padding: 1.2rem 1.5rem 0 1rem;
  }

  .news-content h2 {
    font-size: var(--font-size-large);
  }

  .news-content h3 {
    font-size: var(--font-size-medium);
  }

  .news-content p {
    font-size: var(--font-size-small);
  }

  .related-articles {
    grid-row-start: 3;
    grid-column-start: 2;
    grid-column-end: 4;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
    margin-bottom: 1rem;
  }

  article {
    align-items: center;
    display: flex;
    gap: 0.5rem;
  }

  article h3 {
    font-size: var(--font-size-medium);
  }

  .related-article-content {
    display: flex;
    flex-direction: column;
    height: 127px;
  }

  .related-article-content p {
    padding-right: 1rem;
  }

  article img {
    width: 100px;
    height: 127px;
  }

  :root {
    --font-size-extra-large: 2.5rem;
    --font-size-large: 2rem;
  }
}
